<div id="<%= dom_id event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= event.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Place:</strong>
    <%= event.place_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= event.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Occurs at:</strong>
    <%= event.occurs_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this event", event, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this event', edit_event_path(event), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
